html, body {
    margin: 0;
    padding: 0;
}

.webpage {
    width: 100vw;
    height: 100vh;
    
    display: flex;  

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-edited {
    padding: 20px;
    font-size: 15px;
}


label {
    min-width: 70px; 
    margin-right: 10px; 
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px; 
}

.login-header {
    margin-top: 2px;  
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;   
    font-weight: 300; 
}

.label-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.input-edited {
    position: relative;
}

.buttons {
    margin-top: 20px;  
    margin-bottom: 10px;       
}
